# Conditional Statements

- if
- else
- elif

In [1]:
# Check whether the player is Virat Kohli

player = 'Virat'

if player == 'Virat':
    print("It's Virat!")

It's Virat!

In [2]:
if player == 'Rohit':
    print("It's Rohit")
else:
    print("It's not Rohit")

It's not Rohit

In [4]:
user = input('Enter your userID: ')

if user == 'abc@123':
    print('Access Granted')
else:
    print('Invalid ID')

Enter your userID: xyz@123
Invalid ID

In [6]:
# Check whether the number is positive / negative
# if int() is not mentioned it will give an error as it will consider the input as string

num = int(input('Enter the number: '))

if num >= 0:
    print('It is a positive number')
else:
    print('It is a negative number')

Enter the number: -3
It is a negative number

In [7]:
# elif

In [11]:
# Check whether the number is positive/negative/zero

num = int(input('Enter the numebr: '))

if num > 0:
    print('Positive number')
elif num == 0:
    print('Zero')
else:
    print('Negative number')

Enter the numebr: 0
Zero

In [12]:
# Give grades based on percentages
#A : marks >= 85
#B : marks < 85 and >= 70
#C : marks < 70 and >= 60
#D

marks = int(input('Enter your marks: '))

if marks >= 85:
    print('A Grade')
elif (marks < 85) and (marks >= 70):
    print('B Grade')
elif (marks < 70) and (marks >= 60):
    print('C Grade')
else:
    print('D Grade')

Enter your marks: 90
A Grade

In [20]:
score = int(input('Enter your score: '))

if score >= 100:
    print('Century')
else:
    runs = 100 - score
    print(runs, 'more runs are needed')

Enter your score: 75
25 more runs are needed

In [21]:
runs = int(input('Enter your runs: '))

if runs >= 100:
    print('Century')
else:
    print('Not a century. You still need to make ', 100-runs, 'runs')

Enter your runs: 99
Not a century. You still need to make  1 runs

In [22]:
num = int(input('Enter the number: '))

if num < 10:
    print('Single digit')
elif (num >= 10) and (num < 100):
    print('Double digit')
else:
    print('Three digited')

Enter the number: 999
Three digited

In [23]:
# Format string

name = input('Enter name: ')
age = input('Enter your age: ')
designation = input('Enter your designation: ')
location = input('Enter your location: ')

print(f"My name is {name}. I am {age} years old. I work as {designation}. I live in {location}.")

Enter name: Pooja
Enter your age: 23
Enter your designation: Biotechnologist
Enter your location: Kolhapur
My name is Pooja. I am 23 years old. I work as Biotechnologist. I live in Kolhapur.

In [24]:
runs = int(input('Enter your runs: '))

if runs >= 100:
    print('Century')
else:
    print(f'Not a century. You still need to make {100-runs} runs.')

Enter your runs: 98
Not a century. You still need to make 2 runs.

# Functions

- Two types of functions:
  - Built-in funtions
  - User defined function
- We can create our own customized functions

In [25]:
# Basic Function

In [26]:
def simple_function():
    print('This is user defined function')

In [27]:
simple_function()

This is user defined function

In [28]:
# Docstring

In [29]:
def function1():
    '''This function will print 2 sentences.'''
    print('This is first sentence')
    print('This is second sentence')

In [30]:
function1()

This is first sentence
This is second sentence

In [31]:
def max_number(num1,num2):
    '''This function returns max number between the two given numbers'''
    return max(num1,num2)

In [32]:
max_number(50,30)

50

In [33]:
def max_number(a,b):
    if a>b:
        return a
    else:
        return b

In [35]:
max_number(5,20)

20

# Loops

- While loop
- For loop

In [1]:
# While loops

In [2]:
python = 10

while python > 0:
    print('Learning python', python)
    python = python - 1
print('Python completed')

Learning python 10
Learning python 9
Learning python 8
Learning python 7
Learning python 6
Learning python 5
Learning python 4
Learning python 3
Learning python 2
Learning python 1
Python completed

In [4]:
age = 0

while age < 18:
    print(age,'-Not Eligible')
    age = age + 1
print('Eligible')

0 -Not Eligible
1 -Not Eligible
2 -Not Eligible
3 -Not Eligible
4 -Not Eligible
5 -Not Eligible
6 -Not Eligible
7 -Not Eligible
8 -Not Eligible
9 -Not Eligible
10 -Not Eligible
11 -Not Eligible
12 -Not Eligible
13 -Not Eligible
14 -Not Eligible
15 -Not Eligible
16 -Not Eligible
17 -Not Eligible
Eligible

In [5]:
age

18

In [6]:
python = int(input())

while python > 0:
    print('Learning python', python)
    python = python - 1
print('Python completed')

21
Learning python 21
Learning python 20
Learning python 19
Learning python 18
Learning python 17
Learning python 16
Learning python 15
Learning python 14
Learning python 13
Learning python 12
Learning python 11
Learning python 10
Learning python 9
Learning python 8
Learning python 7
Learning python 6
Learning python 5
Learning python 4
Learning python 3
Learning python 2
Learning python 1
Python completed

In [7]:
# Range function

In [8]:
list(range(1,20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [10]:
list(range(1,50,2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [13]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [14]:
# For loop

In [15]:
lst = [1,2,3,4,5]

In [16]:
#temporary list

for i in range(1,100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [17]:
#permanent list

lst = []

for i in range(1,100,3):
    lst.append(i)

In [18]:
lst

[1,
 4,
 7,
 10,
 13,
 16,
 19,
 22,
 25,
 28,
 31,
 34,
 37,
 40,
 43,
 46,
 49,
 52,
 55,
 58,
 61,
 64,
 67,
 70,
 73,
 76,
 79,
 82,
 85,
 88,
 91,
 94,
 97]

In [30]:
sq = []

for i in range(1,10):
    sq.append(i**2)

In [31]:
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
cb = []

for i in range(1,10):
    cb.append(i**3)

cb

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [24]:
company = ['myntra', 'amazon', 'ajio']
company

['myntra', 'amazon', 'ajio']

In [25]:
for c in company:
    print(c)

myntra
amazon
ajio

In [26]:
for w in company:
    print('www.'+ w + '.com')

www.myntra.com
www.amazon.com
www.ajio.com

# List comprehension

- Easiest way of creating list data structure along with any loop or conditional statements

In [27]:
x = [num+10 for num in range(1,51)]

In [28]:
x

[11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60]

In [33]:
names = ['Aisha', 'Ameya', 'Nikita', 'Aarya', 'Pooja']
names

['Aisha', 'Ameya', 'Nikita', 'Aarya', 'Pooja']

In [46]:
for n in names:
    if n.startswith('A'):
        print(n)

Aisha
Ameya
Aarya

In [56]:
lst=[]

for n in names:
    if n.startswith('A'):
        print(n)
        lst.append(n)

Aisha
Ameya
Aarya

In [36]:
lst = []
for i in range(1,11):
    lst.append(i+5)

In [37]:
lst

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
#create a list of marks and print marks > 75

In [50]:
#reverse multiplication table

number = int(input('Enter any number: '))

for i in range(10,0,-1):
    print(f"{number}*{i}={number*i}")

Enter any number: 3
3*10=30
3*9=27
3*8=24
3*7=21
3*6=18
3*5=15
3*4=12
3*3=9
3*2=6
3*1=3